* {
    margin: 0;
    padding: 0;
}

header {
    color: orange;
}

li {
    color: purple;
}

.my-class{
    color:olive;
}

#my-id {
    color:orangered;
}

#another-id {
    color:plum;
}

li .mylinks {
    color: black;
    text-decoration: none;
}